<div class="row">
  <div class="col-xs-12">
 
    
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
      <div class="form-group col-sm-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" ngModel  placeholder="Name of Ingredient" required>
      </div>
      <div class="form-group col-sm-4">
        <label for="amount">Ammount</label>
        <input type="text" class="form-control" id="amount" name="amount" ngModel placeholder="Ammount" required pattern="^[1-9]+[0-9]*$" >
      </div>
    </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{ editMode ? 'Update':'Add'}}</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" [disabled]="!editMode">Delete</button>
          <button type="button" class="btn btn-primary" (click)="ClearIngredients()" >Clear</button>
        </div>
      </div>
      
    </form>

  </div>
</div>